.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
}
.cover__foreground,
.cover__background {
  position: absolute;
  min-height: 42vh;
  max-width: 80vw;
  border-radius: 10px;
  transition: 0.6s;
  object-fit: contain;
}
.cover__background {
  transform: scale(0.95) translateY(25px);
  filter: blur(20px) brightness(70%);
}
.cover__foreground.active,
.cover__background.active {
  transform: scale(1.2);
}