.cover {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  object-fit: contain;
  border-radius: 15px;
  transition: 0.47s;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  outline-offset: -1px;
}
