.media-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .button {
    cursor: pointer;
    display: flex;
    border-radius: 60px;
    margin: 0 5px;
    &.left,
    &.right {
      padding: 10px;
    }
  }
}
