@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-light.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-medium.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-book.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-black.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-bold.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}