.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  margin: 45px 0 55px;
  &__foreground,
  &__background {
    position: absolute;
    min-height: 250px;
    max-width: 250px;
    border-radius: 8px;
    transition: 0.5s;
    object-fit: contain;
  }
  &__background {
    transform: scale(0.95) translateY(30px);
    filter: blur(20px) brightness(70%);
  }
  &.active {
    .cover__foreground {
      transform: scale(1.25);
    }
    .cover__background {
      transform: scale(1.1) translateY(20px);
    }
  }
}